<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <div class="well">
  <%= link_to image_tag(user.icon_url_twitter), "https://twitter.com/" + user.name_twitter %>
  <%= link_to user.name_twitter, "https://twitter.com/" + user.name_twitter %>
  <%= user.point %>ポイント
  <%= user.retweets.count %>回宣伝した
  <%= link_to user.name_twitter + "の詳細", user, :class => "btn btn-info"%>
</div><!--well-->
<% end %>
