<div class="row">
  <div class="span12">
<div class="hero-unit">
  <h1>Twitterで宣伝</h1>
<p>宣伝ギルドは、あなたが広めたいものを、別の誰かに宣伝してもらうアプリです。</p>
</div><!--hero-unit-->


<div class="well">
  <h3>
    宣伝
  </h3>
  <ul>
    <% @retweets.each do |retweet| %>
      <li>
      <%= retweet.id %>
      <%= retweet.user_id %>
      <% if retweet.item %>
        <%= retweet.item.body %>
      <% end %>
      </li>
    <% end %>
  </ul>
  <ul>
    <% @items.each do |item| %>
      <li>
      <%= link_to item.body, item %>
      <%= link_to item.retweeted_count, item %>
      <%= link_to "宣伝する", retweet_path(:item_id => item.id), :class => "btn" %>
      </li>
    <% end %>
  </ul>
</div><!--well-->
</div><!--span12-->
</div><!--row-->
