<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>Twitterで宣伝</h1>
      <p>宣伝ギルドは、あなたが広めたいものを、別の誰かに宣伝してもらうアプリです。</p>
    </div><!--hero-unit-->


    <div class="well">
      <h3>
        宣伝
      </h3>
      <ul>
        <% @items.each do |item| %>
          <% if item.user.point != 0 %>
            <li>
            <%= item.body %>
            <%= link_to item.retweets.count, item %>回宣伝されている
            <%= link_to image_tag(item.user.icon_url_twitter), item.user %>
            <%= link_to item.user.name_twitter, item.user %>
            <%= link_to "宣伝する", retweet_path(:item_id => item.id), :class => "btn" %>
            </li>

          <% end %>
        <% end %>
      </ul>
    </div><!--well-->
  </div><!--span12-->
</div><!--row-->
