<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <p>宣伝の文章は100文字以内までしか書けません</p>
    <%= f.label "宣伝" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= submit_tag "登録" %>
  </div>
<% end %>
