<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <button value="登録">登録</button>

   <div class="field">
    <%= f.label "宣伝" %>
    <%= f.text_area :body, rows:1 %>
  </div>

  <div class="actions">
    <%= submit_tag "register" %>
  </div>
<% end %>
