<h1>宣伝一覧</h1>


<ul>

  <% @items.each do |item| %>

    <% if item.user.point != 0%>
    <li>
    <%= link_to item.body, item %>
    <%= link_to item.retweets.count, item %>回宣伝されている
    <%= link_to item.user.name_twitter, "/users/" + item.user_id.to_s %>(<%= item.user.point %>ポイント)
    <%= link_to "宣伝する", retweet_path(:item_id => item.id), :class => "btn" %>
    <% if current_user && item.user_id = current_user.id %>
     <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %>
    <% end %>
    </li>

  <% end %>
  <% end %>

</ul>

<br />
<% if current_user %>
  <%= link_to '宣伝を登録する', new_item_path %>
<% end %>
