<h1>宣伝一覧</h1>


<ul>

  <% @items.each do |item| %>

    <% if item.user.point != 0%>
      <li>
      <p>
    <%= link_to item.body, item %>
    <%= link_to item.retweets.count, item %>回宣伝されている
    <%= link_to "宣伝する", retweet_path(:item_id => item.id), :class => "btn" %>
    <% if current_user && item.user_id == current_user.id %>
     <%= link_to '編集する', edit_item_path(item) %>
     <%= link_to '削除する', item, confirm: '本当に削除しますか？', method: :delete %>
    <% end %>
     </p>
     <p>
    <%= link_to image_tag(item.user.icon_url_twitter), item.user %>
    <%= link_to item.user.name_twitter, item.user %>(<%= item.user.point %>ポイント)
    </p>
    </li>

  <% end %>
  <% end %>

</ul>

<br />
<% if current_user %>
  <%= link_to '宣伝を登録する', new_item_path %>
<% end %>
